@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDEFE9;
  color: #14201C;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #131A17;
    color: #ECEAE2;
  }
}
